:root {
	--brand-orange: #F95C39;
	--brand-orange-dark: #CC4C2F;
	--brand-blue: #247BA0;
	--brand-blue-dark: #1B5A75;
}


/* Brand Orange */
.brand-first { color: var(--brand-orange); }
.bg-brand-first { background-color: var(--brand-orange); }
.b--brand-first { border-color: var(--brand-orange); }

.hover-brand-first:hover,
.hover-brand-first:focus { color: var(--brand-orange); }

.hover-bg-brand-first:hover,
.hover-bg-brand-first:focus { background-color: var(--brand-orange); }

/* Brand Orange Dark */
.brand-first-dark { color: var(--brand-orange-dark); }
.bg-brand-first-dark { background-color: var(--brand-orange-dark); }
.b--brand-first-dark { border-color: var(--brand-orange-dark); }

.hover-brand-first-dark:hover,
.hover-brand-first-dark:focus { color: var(--brand-orange-dark); }

.hover-bg-brand-first-dark:hover,
.hover-bg-brand-first-dark:focus { background-color: var(--brand-orange-dark); }

/* Brand Blue */
.brand-second { color: var(--brand-blue); }
.bg-brand-second { background-color: var(--brand-blue); }
.b--brand-second { border-color: var(--brand-blue); }

.hover-brand-second:hover,
.hover-brand-second:focus { color: var(--brand-blue); }

.hover-bg-brand-second:hover,
.hover-bg-brand-second:focus { background-color: var(--brand-blue); }

/* Brand Blue Dark */
.brand-second-dark { color: var(--brand-blue-dark); }
.bg-brand-second-dark { background-color: var(--brand-blue-dark); }
.b--brand-second-dark { border-color: var(--brand-blue-dark); }

.hover-brand-second-dark:hover,
.hover-brand-second-dark:focus { color: var(--brand-blue-dark); }

.hover-bg-brand-second-dark:hover,
.hover-bg-brand-second-dark:focus { background-color: var(--brand-blue-dark); }
